<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>COMPANIES</title>
</head>
<body>

<div>

    <a href="/addCompanies">ADD COMPANIES</a>

    <table border="1">

        <tr>
            <th>id</th>
            <th>name</th>
            <th>size</th>
            <th>address</th>
            <th>action</th>
        </tr>

        <tr th:each="company:${companies}">
            <td th:text="${company.id}"></td>
            <td th:text="${company.name}"></td>
            <td th:text="${company.size}"></td>
            <td th:text="${company.address}"></td>
            <td><a th:href="@{'/deleteCompanies/' + ${company.getId()}}">DELETE</a> | <a th:href="@{'/editCompanies/' + ${company.getId()}}">EDIT</a></td>
        </tr>
    </table>
</div>

</body>
</html>