<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>EMPLOYEE</title>
</head>
<body>

<a href="/addEmployee">ADD EMPLOYEE</a>

<table border="1">

    <tr>
        <th>id</th>
        <th>name</th>
        <th>surname</th>
        <th>email</th>
        <th>phone</th>
        <th>salary</th>
        <th>position</th>
        <th>company</th>
        <th>image</th>
        <th>delete</th>
        <th>edit</th>

    </tr>

    <tr th:each="empl :${employees}">
        <td th:text="${empl.id}"></td>
        <td th:text="${empl.name}"></td>
        <td th:text="${empl.surname}"></td>
        <td th:text="${empl.email}"></td>
        <td th:text="${empl.phoneNumber}"></td>
        <td th:text="${empl.salary}"></td>
        <td th:text="${empl.position}"></td>
        <td th:text="${empl.companies.name}"></td>
        <td >

            <img th:if="${empl.picUrl!=null}" th:src="@{/getImage(picName=${empl.picUrl})}" width="50"
                 height="50"/>

            <img th:if="${empl.picUrl==null}" src="/img/Без названия.png" width="50" height="50"/>

        </td>


        <td><a th:href="@{'/deleteEmployee/' + ${empl.id}}">DELETE</a></td>
        <td><a th:href="@{'/editEmployee/' + ${empl.id}}">EDIT</a></td>

    </tr>




</table>


</body>
</html>