<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{saveEmployee.title}"></title>
</head>
<body>

SAVE EMPLOYEE:
<form action="/addEmployee" method="post" enctype="multipart/form-data">
    <input th:if="${employee != null}" type="hidden" th:value="${employee.id} " name="id">
    NAME:<input type="text" name="name" th:value="${employee == null}? '': ${employee.name}"><br>
    SURNAME:<input type="text" name="surname" th:value="${employee == null}? '': ${employee.surname}"><br>
    EMAIL:<input type="email" name="email" th:value="${employee == null}? '': ${employee.email}"><br>
    PHONE NUMBER:<input type="text" name="phoneNumber" th:value="${employee == null}? '': ${employee.phoneNumber}"><br>
    SALARY:<input type="text" name="salary" th:value="${employee == null}? '': ${employee.salary}"><br>
    POSITION:<input type="text" name="position" th:value="${employee == null}? '': ${employee.position}"><br>
    COMPANIES:
    <select name="companies.id">
        <option th:each="company:${companies}" th:text="${company.name}" th:value="${company.id}"></option>
    </select>
    PIC_URL:<input type="file" name="picture"><br><input type="submit" value="SAVE">
</form>

</body>
</html>